<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}  - %msg%n"/>
        </Console>

        <File name="File" fileName="src/main/resources/log/log.log" append="True" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>

    <Loggers>
        <logger name="com.mrmrmr7.mytunes" level="info">
            <AppenderRef ref="File"/>
        </logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</Configuration>